/.bundle
/vendor/bundle/
/bin
/spec/test_app_3/log/*.log
/spec/test_app_3/db/schema.rb
/spec/test_app_3/db/*.sqlite3
/spec/test_app_3/db/migrate/*.ti_refdata.rb
/spec/test_app_3/tmp
.ruby-version
Gemfile.lock

# text editor temp files
*[~#]
